.list
    display flex
    flex-direction column
    justify-content center
    position fixed
    top 1.58rem
    right 0
    bottom 0
    width .4rem
    .item
        text-align center
        line-height .4rem
        color #00bcd4