<div>
    <div #headerSearch class="headerSearch">
        <app-city-header></app-city-header>
        <app-city-search [cities]="cities"></app-city-search>
    </div>
    <div #wrapper class="city-body">
        <div>
            <app-city-list 
                [cities]="cities"
                [hotCities]="hotCities"
            >
            </app-city-list>
        </div>
    </div>
    <app-city-alphabet 
        [cities]="cities"
        (clicked)="clickAlphabet($event)"
    >
    </app-city-alphabet>
</div>