<div class="search">
    <input 
        type="text" 
        class="search-input" 
        placeholder="输入城市名或拼音"
        [(ngModel)]="keyword"
        (ngModelChange)="changeKeyword()"
    >
    <div class="search-content" [style.display]="searchDisplay" #searchResult>
        <ul>
            <li
                *ngFor="let item of list"
                class="search-item border-bottom"
                (click)="changeCity(item.name)"
            >
                {{item.name}}
            </li>
            <li class="search-item border-bottom" *ngIf="!list.length">
                没有找到匹配数据
            </li>
        </ul>
    </div>
</div>