<div class="list">
    <div class="scroll">
        <div class="area">
            <div class="title border-topbottom">当前城市</div>
            <div class="button-list">
                <div class="button-wrapper">
                    <div class="button">
                        北京
                    </div>
                </div>
            </div>
        </div>
        <div class="area">
            <div class="title border-topbottom">热门城市</div>
            <div class="button-list">
                <div class="button-wrapper" *ngFor="let hotCity of hotCities">
                    <div class="button">
                        {{hotCity.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="area" 
            *ngFor="let city of cities | keyvalue"
        >
            <div class="title border-topbottom letter">
                {{city.key}}
            </div>
            <div 
                class="item-list" 
                *ngFor="let c of cities[city.key]"
            >
            <div class="item border-bottom">
                {{c.name}}
            </div>
            </div>
        </div>
    </div>
</div>